<h1>Pet shelter</h1>
<button [routerLink]="['/pets']">Home</button>
<p>Details about {{viewItem.name}}</p>
<p>Pet type: {{viewItem.type}}</p>
<p>Description: {{viewItem.description}}</p>

<p *ngIf="viewItem.addons.length > 0"> Skills:</p>
<div *ngFor="let a of viewItem.addons">
  <p>{{a.name}}</p>
  <p>{{a.content}}</p>
  <p>{{a.skill3}}</p>
  <!-- <button [routerLink]="['/view/',viewItem._id]">View</button>
  <button [routerLink]="['/edit/',viewItem._id]">Edit</button> -->
</div>
<p>Likes: {{viewItem.likes}}</p>
<button (click) = "like()" *ngIf = "!isLiked">Like</button>
<button (click)="delete(viewItem._id)">Adopt this pet</button>
<!-- <p>Add *addon*</p>
<form (submit)="updateItem()" class="postForm">
<input type="text" name="addon.name" [(ngModel)]="addon.name"><br>
<input type="text" name="addon.content" [(ngModel)]="addon.content"><br>
<button>Add new addon to item</button>
</form> -->